/******* Header **********/

#real-head {
  width: 95%;
  margin: 64px auto;

  h1 {
    margin-left: 200px;
    font-size: 2.4em;

    &::before {
      content: "";
      position: absolute;
      width: 570px;
      height: 55px;
      background-color: #373737;
      top: -20px;
      left: -40px;
      z-index: -1;
    }
  }
}

@media (max-width: 720px) {
  #real-head h1 {
    margin-left: 10%;
  }
}

/******* Article ********/

#article {
  width: 810px;
  margin: 0 auto 64px auto;
  text-align: justify;

  p {
    line-height: 1.3em;
  }
}

#anim-gallerie {
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;

  img {
    margin: 5px 10px;
  }
}

@media (max-width: 890px) {
  #article {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .sm-w100 {
    width: 100%;
  }
}
