/*
======================================================================================

    @ main.css
    @ STYLESHEET
    @ CSS by Lucas LAPLANCHE - https://lucaslaplanche.fr/

======================================================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'defaults';
@import 'nav';
@import 'presentation';
@import 'portfolios';
@import 'footer';
@import 'cookies';


/********** PACK **********/

$color_1: #f6f4f2;
$color_2: #0ec722;

/* TRANSITIONS */
/* USER-SELECT */
/* FLEX */
/********** * **********/
.fa-instagram {
	transition: 0.1s;
}
.fa-linkedin-in {
	transition: 0.1s;
}
.site {
	h2 {
		transition: 0.1s;
	}
	transition: 0.3s;
	&::before {
		transition: 0.3s;
	}
}
.article {
	a {
		transition: 0.1s;
	}
}
a {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
img {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}
.align-center {
	align-items: center;
}
html {
	width: 100%;
	height: 100%;
	background: #262626;
	color: $color_1;
	overflow-x: hidden !important;
}
body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden !important;
}
.active {
	color: $color_2;
}
